/** {
	background: red;
}*/

/*.btn-del {
	color: #ed5565;
}

.btn-del:hover {
	color: #ed5565;
}

.btn-edit {
	color: #1ab394;
}

.btn-edit:hover {
	color: #1ab394;
}*/

/*Parts Edit FORM*/

	.add-custom-field {
		position: relative;
	}

	.btn-remove {
		position: absolute;
		right: -25px;
		bottom: 5px;
	}

	.dimention-text {
		font-weight: bold;font-style: italic;padding-top: 10px;
	}

	#form-parts > .row {
		margin-bottom: 20px;
	}